<div class="text-center">
    <h1>מקפיץ מודעות ביד 2</h1>

    <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
        <thead>
        <tr>
            <th st-sort-default="true" st-sort="details.name">שם</th>
            <th st-sort="email">כתובת אימייל</th>
            <th st-sort="active">פעיל</th>
            <th>ערוך</th>
        </tr>
        <tr>
            <th colspan="4"><input st-search="" class="form-control" placeholder="חפש..." type="text"/></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="seller in displayedCollection">
            <td>{{ seller.name }}</td>
            <td>{{ seller.email }}</td>
            <td>{{ seller.active }}</td>
            <td>
                <a href="/sale_updater/create/{{seller._id}}">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/sale_updater/create">
        <input class="btn btn-primary" type="button" value="הוסף משתמש ביד 2">
    </a>

</div>
