<div class="text-center">
    <h1>חיפושים</h1>

    <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
        <thead>
        <tr>
            <th st-sort-default="true" st-sort="details.name">שם</th>
            <th st-sort="posts.length">מודעות שנמצאו</th>
            <th st-sort="type">סוג</th>
            <th st-sort="mail">כתובת אימייל</th>
            <th st-sort="active">פעיל</th>
            <th>ערוך</th>
        </tr>
        <tr>
            <th colspan="6"><input st-search="" class="form-control" placeholder="Search anything" type="text"/></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="seller in displayedCollection">
            <td>{{ seller.name }}</td>
            <td>{{ seller.posts.length }}</td>
            <td>{{ seller.type }}</td>
            <td>{{ seller.mail }}</td>
            <td>{{ seller.active }}</td>
            <td>
                <a href="/search/create/{{seller._id}}">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/search/create">
        <input class="btn btn-primary" type="button" value="הוסף חיפוש">
    </a>

</div>
