<div class="text-center">
    <h1>מקפיץ המודעות ביד 2 של {{ seller.name }}</h1>
    <div class="col-sm-6 col-sm-offset-3">
        <form name="sellerForm" ng-submit="submitForm()">

            <!-- NAME -->
            <div class="form-group"
                 ng-class="{ 'has-error' : sellerForm.name.$invalid && (!sellerForm.name.$pristine  || submitted)}">
                <label>שם</label>
                <input type="text" name="name" class="form-control" ng-model="seller.name" required>
                <p ng-show="sellerForm.name.$invalid && (!sellerForm.name.$pristine || submitted)" class="help-block">
                    שם התצוגה כאן חובה</p>
            </div>

            <!-- EMAIL -->
            <div class="form-group"
                 ng-class="{ 'has-error' : sellerForm.email.$invalid && (!sellerForm.email.$pristine  || submitted)}">
                <label>כתובת אימייל</label>
                <input type="email" name="email" class="form-control" ng-model="seller.email" required>
                <p ng-show="sellerForm.email.$invalid && (!sellerForm.email.$pristine || submitted)" class="help-block">
                    הכנס כתובת אימייל חוקית</p>
            </div>

            <!-- PASSWORD -->
            <div class="form-group"
                 ng-class="{ 'has-error' : sellerForm.password.$invalid && (!sellerForm.password.$pristine  || submitted)}">
                <label>(...סיסמה (שים לב לא לשים סיסמה שמשמשת אותך בעוד מקומות</label>
                <input type="text" name="password" class="form-control" ng-model="seller.password" required>
                <p ng-show="sellerForm.password.$invalid && (!sellerForm.password.$pristine || submitted)" class="help-block">
                    הכנס את הסיסמה שלך ליד 2</p>
            </div>

            <!-- ACTIVE -->
            <div class="form-group">
                <label>פעיל</label>
                <input id="submit" type="checkbox" name="active" class="form-control" ng-model="seller.active">
            </div>

            <button class="btn btn-danger" ng-hide="newSeller" ng-click="deleteSeller()">מחק</button>
            <button type="submit" class="btn btn-primary" ng-click="submitted=true">שמור</button>
        </form>
    </div>
</div>
