<div class="text-center">
    <h1>חיפוש {{ search.name }}</h1>
    <div class="col-sm-6 col-sm-offset-3">
        <form name="searchForm" ng-submit="submitForm()">

            <!-- TYPE -->
            <div class="form-group"
                 ng-class="{ 'has-error' : searchForm.type.$invalid && (!searchForm.type.$pristine  || submitted)}">
                <label>סוג</label>
                <select class="form-control" name="type" ng-options="type for type in searchTypes"
                        ng-model="search.type" required></select>
                <p ng-show="searchForm.type.$invalid && (!searchForm.type.$pristine || submitted)" class="help-block">
                    אנא בחר בין יד 2 ופשפשוק</p>
            </div>

            <!-- NAME -->
            <div class="form-group"
                 ng-class="{ 'has-error' : searchForm.name.$invalid && (!searchForm.name.$pristine  || submitted)}">
                <label>שם</label>
                <input type="text" name="name" class="form-control" ng-model="search.name" required>
                <p ng-show="searchForm.name.$invalid && (!searchForm.name.$pristine || submitted)" class="help-block">
                    נדרש שם לחיפוש</p>
            </div>

            <!-- EMAIL -->
            <div class="form-group"
                 ng-class="{ 'has-error' : searchForm.email.$invalid && (!searchForm.email.$pristine  || submitted)}">
                <label>כתובת אימייל</label>
                <input type="email" name="email" class="form-control" ng-model="search.mail" required>
                <p ng-show="searchForm.email.$invalid && (!searchForm.email.$pristine || submitted)" class="help-block">
                    הכנס כתובת אימייל חוקית</p>
            </div>

            <!-- NEEDED STRINGS LISTS -->
            <div class="form-group">
                <label>רשימות שבכל אחת לפחות מילה אחת חובה</label>
                <div class="form-inline" ng-repeat="neededList in search.needed_strings_lists" ng-form="innerForm"
                     ng-class="{ 'has-error' : innerForm.groupID.$invalid && (!innerForm.groupID.$pristine || submitted)}">
                    <div class="form-group" ng-repeat="_ in neededList.any_of track by $index" ng-form="moreInnerForm"
                         ng-class="{ 'has-error' : moreInnerForm.groupID.$invalid && (!moreInnerForm.groupID.$pristine || submitted)}">
                        <input class="form-control needed-string" type="text" name="neededString"
                               ng-model="neededList.any_of[$index]">
                        <a class="plus-inline" href="" ng-click="addNeededStringInList(neededList)"><i ng-show="$last"
                                                                                                       class="glyphicon glyphicon-plus"></i></a>
                    </div>
                </div>
                <a href="" ng-click="addNeededList()"><i class="glyphicon glyphicon-plus"></i></a>
            </div>

            <!-- Group IDS -->
            <div class="form-group" ng-show="search.type == pishpeshukName">
                <label>של קבוצות לחפש בהן בפייסבוק ID</label>
                <div ng-repeat="_ in search.pishpeshuk_details.group_ids track by $index" ng-form="innerForm"
                     ng-class="{ 'has-error' : innerForm.groupID.$invalid && (!innerForm.groupID.$pristine || submitted)}">
                    <input type="text" name="groupID" class="form-control"
                           ng-model="search.pishpeshuk_details.group_ids[$index]"
                           ng-required="search.type == pishpeshukName && $first">
                    <p ng-show="innerForm.groupID.$invalid && (!innerForm.groupID.$pristine || submitted)"
                       class="help-block">
                        נדרש לפחות ID אחד של קבוצה בפייסבוק</p>
                    <a href="" ng-click="addGroupID()"><i ng-show="$last" class="glyphicon glyphicon-plus"></i></a>
                </div>
            </div>

            <!-- MAX LENGTH -->
            <div class="form-group"
                 ng-class="{ 'has-error' : searchForm.maxLength.$invalid && (!searchForm.maxLength.$pristine  || submitted)}"
                 ng-show="search.type == pishpeshukName">
                <label>אורך מקסימלי</label>
                <input type="number" name="maxLength" class="form-control" ng-model="search.max_length">
                <p ng-show="searchForm.max_length.$invalid && (!searchForm.max_length.$pristine || submitted)"
                   class="help-block"> הכנס מספר חוקי</p>
            </div>

            <!-- LOCATIONS -->
            <div class="form-group" ng-show="search.type == yad2Name">
                <label>מקומות מותרים</label>
                <div class="row">
                    <div ng-repeat="(locationName, isEnabled) in search.yad2_details.locations" ng-form="innerForm"
                         ng-class="{ 'has-error' : innerForm.location.$invalid && (!innerForm.location.$pristine || submitted)}">
                        <div class="clearfix" ng-if="$index % 4 == 0"></div>
                        <div class="col-xs-3">
                            <div class="location">
                                {{ locationName }}
                            </div>
                            <div>
                                <input type="checkbox" name="location" ng-model="isEnabled">
                            </div>
                        </div>
                    </div>
                </div>
                <input class="btn btn-default" type="button" value="בחר הכל" ng-click="checkAllLocations()">
                <input class="btn btn-default" type="button" value="הסר הכל" ng-click="uncheckAllLocations()">
                <input class="btn btn-default" type="button" value="ברירת מחדל" ng-click="checkDefaultLocations()">
            </div>

            <!-- BAD_STRINGS -->
            <div class="form-group" ng-show="search.type == yad2Name">
                <label>מילים שאסור שיופיעו</label>
                <div ng-repeat="_ in search.bad_strings_list track by $index" ng-form="innerform"
                     ng-class="{ 'has-error' : innerForm.badString.$invalid && (!innerForm.badString.$pristine || submitted)}">
                    <input type="text" name="badString" class="form-control"
                           ng-model="search.bad_strings_list[$index]">
                    <a href="" ng-click="addBadString()"><i ng-show="$last" class="glyphicon glyphicon-plus"></i></a>
                </div>
            </div>

            <!-- URLS -->
            <div class="form-group" ng-show="search.type == yad2Name">
                <label>ים לחיפושים קיימים באתר יד2URL</label>
                <div ng-repeat="_ in search.yad2_details.urls track by $index" ng-form="innerForm"
                     ng-class="{ 'has-error' : innerForm.url.$invalid && (!innerForm.url.$pristine || submitted)}">
                    <input type="text" name="url" class="form-control" ng-model="search.yad2_details.urls[$index]"
                           ng-required="search.type == yad2Name && $first">
                    <p ng-show="innerForm.url.$invalid && (!innerForm.url.$pristine || submitted)" class="help-block">
                        נדרש לפחות לינק אחד לכתובת חיפוש</p>
                    <a href="" ng-click="addUrl()"><i ng-show="$last" class="glyphicon glyphicon-plus"></i></a>
                </div>
            </div>

            <!-- POSTS -->
            <div class="form-group col-md-12" ng-hide="newSearch">
                <label>מודעות שנמצאו</label>
                <table st-table="displayedCollection" st-safe-src="search.posts" class="table table-striped">
                    <thead>
                    <tr>
                        <th style="width: 10%" st-sort-default="true" st-sort="last_updated">עודכן לאחרונה</th>
                        <th style="width: 50%" st-sort="message">תוכן המודעה</th>
                        <th style="width: 10%" st-sort="link">לינק</th>
                        <th style="width: 10%" ng-show="search.type == yad2Name" st-sort="price">מחיר</th>
                        <th style="width: 10%" ng-show="search.type == yad2Name" st-sort="location">מיקומים</th>
                        <th style="width: 10%">מחיקה</th>
                    </tr>
                    <tr>
                        <th colspan="6"><input st-search="" class="form-control" placeholder="חיפוש" type="text"/></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="post in displayedCollection">
                        <td style="width: 10%">{{ post.last_updated | date }}</td>
                        <td style="width: 50%">{{ post.message }}</td>
                        <td style="width: 10%"><a ng-href="{{ post.link }}">לינק</a></td>
                        <td style="width: 10%" ng-show="search.type == yad2Name">{{ post.price }}</td>
                        <td style="width: 10%" ng-show="search.type == yad2Name">{{ post.location[0] }}, {{ post.location[1] }}</td>
                        <td style="width: 10%">
                            <a href="#" ng-click="deletePost(post)">
                                <i class="glyphicon glyphicon-remove" type='button'></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- ACTIVE -->
            <div class="form-group">
                <label>פעיל</label>
                <input id="submit" type="checkbox" name="active" class="form-control" ng-model="search.active">
            </div>

            <button class="btn btn-danger" ng-hide="newSearch" ng-click="deleteSearch()">מחק</button>
            <button type="submit" class="btn btn-primary" ng-click="submitted=true">שמור</button>
        </form>
    </div>
</div>
