th {
    text-align: center;
}
.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}

label {
    width: 100%;
}

.needed-string {
    width: 80px !important;
}

.container {
    margin-bottom: 30px;
}

.col-xs-3 {
    margin-bottom: 10px;
}

.location {
    height: 40px;
}

table {
    table-layout:fixed;
    width:100%;
}

td {
    word-break:break-all;
}

.glyphicon-pencil {
    color: black;
}

#submit {
    box-shadow: none;
}

.navbar {
    direction: rtl;
    display: flex;
}
